import 'package:ko_teacher_v5/base/screen/base_view.dart';

import '${bloc_snake_case}_bloc.dart';
import 'package:flutter/widgets.dart';

class ${bloc_pascal_case}Screen extends BaseView<${bloc_pascal_case}Bloc, ${bloc_pascal_case}State> {
  @override
  Widget buildChild(BuildContext context) {
    return Container();
  }
}